XmlSchemaClassGenerator.BatchConverter/schemas/NAE-structured/sed/S091NAF-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:SSec="http://ec.europa.eu/eessi/ns/4_4/SSec" xmlns:SSecNat="https://www.gkv-spitzenverband.de/6_0/SSecNat" xmlns:sedS091NAF="https://www.gkv-spitzenverband.de/6_0/S091NAF" targetNamespace="https://www.gkv-spitzenverband.de/6_0/S091NAF" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/SSec" schemaLocation="SSec-4.4.xsd"/>
	<xsd:import namespace="https://www.gkv-spitzenverband.de/6_0/SSecNat" schemaLocation="SSecNat-6.0.xsd"/>
	<xsd:complexType name="S091NAF">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
Zahlungsankündigung für ausländische Forderungen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalNotePAY" type="sedS091NAF:GlobalNoteIndividualClaimPaymentInformationType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Information über Zahlung einer Einzelforderung (PAY)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualPAYs" type="sedS091NAF:IndividualClaimPaymentsType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne PAYs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalNoteIndividualClaimPaymentInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalCLAReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CLA-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Vorgangsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalPAYReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale PAY-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalTransactionReferenceDebtorInstitution" type="CC:EESSIMediumStringType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Überweisungstext (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="totalNumberIndividualPayments" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtzahl der einzelnen Zahlungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateOfSubmission" type="CC:EESSIBusinessDateType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Datum der Übermittlung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalpaymentamounttobepaidEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Summe der zu leistenden Zahlungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountofbenefitsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Leistungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountofCreditNotesforUnpaidClaimsEUR" type="CC:EESSIAmountType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Gutschriften für unbezahlte Forderungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountofAcceptedContestationsforUnpaidClaimsEUR" type="CC:EESSIAmountType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Beanstandungen für unbezahlte Forderungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualClaimPaymentsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualPAY" type="sedS091NAF:IndividualClaimPaymentType" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne PAY
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualClaimPaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IDCreditorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des forderungsberechtigten Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDDebtorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des leistungspflichtigen Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="References" type="sedS091NAF:ReferencesType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Bezug
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonReceivingBenefits" type="CC:EESSIPersonInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Person, die Leistungen bezieht
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIndividualAmountOfPaymentEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der einzelnen Zahlungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIndividualAmountOfBenefitsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der einzelnen Leistungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcceptedContestations" type="sedS091NAF:AcceptedContestationsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Akzeptierten Beanstandungen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditNotes" type="sedS091NAF:CreditNotesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Gutschriften</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalCLAReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CLA-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Vorgangsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalPAYReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale PAY-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCLAnumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen CLA der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Kostenrechnungsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualPAYnumberDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen PAY des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayInformationCreditNotesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
PAY-Angaben zu Gutschriften</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualAmountCreditNoteEUR" type="CC:EESSIAmountType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einzelbetrag der Gutschrift</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditNotesReferences" type="sedS091NAF:PaymentInformationOnCreditNoteType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
PAY-Angaben zu Gutschrift
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentInformationOnCreditNoteType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalCRNReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CRN-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCRNnumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen CRN der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COCReferencesDebtorLiaisonBodyType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualAmountAcceptedContestationEUR" type="CC:EESSIAmountType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einzelbetrag der akzeptierten Beanstandung</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReferencesAcceptedContestation" type="sedS091NAF:COCReferenceDebtorLiaisonBodyType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
COC-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COCReferenceDebtorLiaisonBodyType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="GlobalCOCReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Globale COC-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IndividualCOCnumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Nummer der einzelnen COC der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="GlobalCOCReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Globale COC-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IndividualCOCnumberDebtorInstitution" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Nummer der einzelnen COC des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="S091NAF" type="sedS091NAF:S091NAF">
		<xsd:annotation/>
	</xsd:element>
	<xsd:complexType name="AcceptedContestationsType">
		<xsd:sequence>
			<xsd:element name="AcceptedContestation" type="sedS091NAF:COCReferencesDebtorLiaisonBodyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Akzeptierte Beanstandung</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditNotesType">
		<xsd:sequence>
			<xsd:element name="CreditNote" type="sedS091NAF:PayInformationCreditNotesType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Gutschrift</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>