XmlSchemaClassGenerator.BatchConverter/schemas/NAE/A100N-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:sedA100N="https://www.gkv-spitzenverband.de/6_0/A100N" targetNamespace="https://www.gkv-spitzenverband.de/6_0/A100N" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:complexType name="A100N">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Information über die Geltung der deutschen Rechtsvorschriften über soziale Sicherheit.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="person" type="sedA100N:PersonInformationType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>DEF7B291-A45F-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Angaben zur Person des Inhabers/der Inhaberin</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberState" type="sedA100N:DEMemberStateType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>D0F7B291-A45F-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="sedA100N:AgreementOnExceptionType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:Definition>Statusbestätigung</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificationEmployer" type="sedA100N:EmploymentIdentificationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>E1F7B291-A45F-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Identifizierung des Arbeitgebers/der Arbeitgeberin/der Arbeitgeber(innen). Mehrfachnennung möglich.
						</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificationSelfEmployment" type="sedA100N:EmploymentIdentificationWithoutMinorEmploymentType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>E7F7B291-A45F-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Identifizierung der selbstständigen Erwerbstätigkeit(en). Mehrfachnennung möglich.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="placesWork" type="sedA100N:PlaceWorkType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>C50907AE-F1D7-E611-80D3-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Arbeitsorte. Mehrfachnennung möglich.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="competentInstitution" type="sedA100N:CompetentInstitutionInformationType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:Definition>Ausstellender Träger</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:simpleType name="memberStateWhichLegislationAppliesType">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="DE"/>
	</xsd:restriction>
</xsd:simpleType>	
<xsd:simpleType name="referenceNumberType">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="[0-9A-ZÄÖÜ]{1,32}"/>
	</xsd:restriction>
</xsd:simpleType> 
	<xsd:complexType name="PersonInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Angaben zur Person des Inhabers/der Inhaberin
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="personalInsuranceNumber" type="CC:EESSIPINType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>37684F61-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
						<ccts:Definition>Nummer zur Identifizierung der Person (Rentenversicherungsnummer, Krankenversichertennummer, o. ä.)</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="familyName" type="CC:EESSIPersonNameType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>DDF2410B-99AD-E711-80DB-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forename" type="CC:EESSIPersonNameType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>DEF2410B-99AD-E711-80DB-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sex" type="CC:EESSISexType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>379E16FD-8890-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateOfBirth" type="CC:EESSIDateOfBirthType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>4A65465B-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="familyNameAtBirth" type="CC:EESSIPersonNameType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>4C65465B-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nationality" type="CC:EESSINationalityType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>0490534C-DA36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="placeOfBirth" type="CC:EESSIShortStringType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>FF8F534C-DA36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="addresses" type="sedA100N:AddressesType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>30694976-EC36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Anschrift(en) im Wohnstaat und/oder Aufenthaltsstaat. Mehrfachnennung möglich.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Änderung gegenüber ASec:LAddressesType: keine Kontaktadresse als Typ und keine Region in der Adresse
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="address" type="sedA100N:TypedAddressType" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>079D5E97-ED36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Anschrift und Art der Anschrift</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TypedAddressType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Änderung gegenüber ASec:LAddressWithType: keine Kontaktadresse als Typ und keine Region in der Adresse
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="sedA100N:AddressTypeType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>175A363F-BD54-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Bitte angeben, um welche Art von Anschrift es sich handelt.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="address" type="sedA100N:AddressType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>079D5E97-ED36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressTypeType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>00657E31-D02B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Wohnstaat</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>E7C7A53B-D02B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Aufenthaltsstaat</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="(01|02){1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Änderung gegenüber CC:EESSIAddressWorldType: region entfernt.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="street" type="CC:EESSIMediumStringType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>3C684F61-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="town" type="CC:EESSIShortStringType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>3E684F61-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postalCode" type="CC:EESSITinyStringType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>6033B48B-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="country" type="CC:EESSIWorldCountryType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>5B7740C2-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="buildingName" type="CC:EESSIMediumStringType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>E70C0A5F-47F4-E611-80D3-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Bitte ggf. den Namen des Gebäudes angeben, z. B. Chatham House, Bellevue Residence.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEMemberStateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Mitgliedstaat, dessen Rechtsvorschriften anzuwenden sind (in diesem Fall immer DE: Deutschland)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="memberStateWhichLegislationApplies"  type="sedA100N:memberStateWhichLegislationAppliesType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>2FFE1B0D-5765-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Mitgliedstaat, dessen Rechtsvorschriften anzuwenden sind</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period" type="CC:EESSIPeriodType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>85C42E2F-2491-E611-80D1-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Zeitraum, für den die Entscheidung gilt</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalInformation" type="sedA100N:AdditionalInformationType" minOccurs="0">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>B7C59C7F-9D5F-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Zusätzliche Informationen</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalInformationType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
				Zusätzliche Informationen
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RulesApplyProvidedForByRegulation" type="CC:EESSIYesNoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>1F68FEAB-F86D-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Die Festlegung ist vorläufig gemäß Artikel 16 der Verordnung (EG) Nr. 987/2009</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interimRegulation" type="CC:EESSIYesNoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>D7F7B291-A45F-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Übergangsbestimmungen gelten gemäß Verordnung (EG) Nr. 883/2004</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AgreementOnExceptionType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<value>02</value>
						<definition>Arbeitnehmer/in arbeitet in zwei oder mehr Staaten</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>04</value>
						<definition>Selbstständige/r, die/der in zwei oder mehr Staaten erwerbstätig ist</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>08</value>
						<definition>In verschiedenen Staaten als beschäftigte und selbstständig erwerbstätige Person tätig</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>09</value>
						<definition>In einem Staat als Beamter/Beamtin und in einem anderen Staat oder mehreren anderen Staaten als beschäftigte/selbstständig
							erwerbstätige
							Person tätig
						</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>10</value>
						<definition>Mitglied einer Flug- oder Kabinenbesatzung</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>11</value>
						<definition>Ausnahmevereinbarung</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="(02|04|08|09|10|11){1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmploymentIdentificationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Änderung gegenüber ASec:LIdentificationEmployersType und
				ASec:LSelfEmploymentsType : Typ für identificationNumber entfernt
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="CC:EESSIMediumStringType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>9C7A5F67-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
						<ccts:Definition>Bitte amtliche Bezeichnung oder Firmennamen der Organisation angeben.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificationNumber" type="CC:EESSITinyStringType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>4582CE51-F844-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Nummer zur Identifizierung des Arbeitgebers (Betriebsnummer, Steuernummer, o. ä.)</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="address" type="sedA100N:AddressType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>69F382D1-9418-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minorEmployment" type="CC:EESSIYesNoType" minOccurs="0">
	<xsd:annotation>
		<xsd:documentation xml:lang="de">
			<ccts:Definition>Bitte angeben, wenn eine geringfügige Beschäftigung vorliegt (1=Ja/0=Nein)</ccts:Definition>
		</xsd:documentation>
	</xsd:annotation>
</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmploymentIdentificationWithoutMinorEmploymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Änderung gegenüber ASec:LIdentificationEmployersType und
				ASec:LSelfEmploymentsType : Typ für identificationNumber entfernt
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="CC:EESSIMediumStringType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>9C7A5F67-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
						<ccts:Definition>Bitte amtliche Bezeichnung oder Firmennamen der Organisation angeben.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificationNumber" type="CC:EESSITinyStringType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>4582CE51-F844-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Nummer zur Identifizierung des Arbeitgebers (Betriebsnummer, Steuernummer, o. ä.)</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="address" type="sedA100N:AddressType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>69F382D1-9418-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlaceWorkType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Änderung gegenüber Asec:LPlaceWorkType: flagStateHomeBase entfernt
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="companyName" type="CC:EESSIMediumStringType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:Definition>Firmenname / Schiffsname / Heimatbasis</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="address" type="sedA100N:AddressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>69F382D1-9418-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noFixedAddressInStateWorkIndicator" type="CC:EESSIYesNoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>6B546413-736B-E611-80CB-000D3A22E8CD</ccts:DictionaryEntryName>
						<ccts:Definition>Keine feste Anschrift im Staat / in den Staaten der Erwerbstätigkeit</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompetentInstitutionInformationType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
				DVKA als ausstellender Träger
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="competentInstitutionIK" type="CC:EESSIInstitutionIDType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:DictionaryEntryName>38684F61-9218-E611-80EA-000C292ED0D7</ccts:DictionaryEntryName>
						<ccts:Definition>Identifikationsnummer des Trägers, wie im EESSI-Trägerverzeichnis (EESSI Institution Repository) (früher: Auskunftsdienst, Directory Service) angegeben.
						</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentSerialNumber" type="CC:EESSIMediumStringType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						<ccts:Definition>Seriennummer</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
<xsd:element name="referenceNumber" type="sedA100N:referenceNumberType">
	<xsd:annotation>
		<xsd:documentation xml:lang="de">
			<ccts:Definition>Unser Zeichen</ccts:Definition>
		</xsd:documentation>
	</xsd:annotation>				
</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="A100N" type="sedA100N:A100N">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
				Bescheinigung über die Rechtsvorschriften der sozialen Sicherheit, die auf
				den/die Inhaber/in anzuwenden sind.
				Weitergeltung deutschen Rechts
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>