XmlSchemaClassGenerator.BatchConverter/schemas/NAE/S031NAF-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:SSec="http://ec.europa.eu/eessi/ns/4_4/SSec" xmlns:SSecNat="https://www.gkv-spitzenverband.de/6_0/SSecNat" xmlns:sedS031NAF="https://www.gkv-spitzenverband.de/6_0/S031NAF" targetNamespace="https://www.gkv-spitzenverband.de/6_0/S031NAF" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/SSec" schemaLocation="SSec-4.4.xsd"/>
	<xsd:import namespace="https://www.gkv-spitzenverband.de/6_0/SSecNat" schemaLocation="SSecNat-6.0.xsd"/>
	<xsd:complexType name="S031NAF">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
Antwort auf Beanstandung der ausländischen Forderung von Verzugszinsen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalNoteRPYCOCILP" type="sedS031NAF:GlobalNoteReplyContestationClaimForInterestLatePaymentType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Antwort auf Beanstandung der Forderung von Verzugszinsen (RPY_COC_ILP)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRPYCOCILPs" type="sedS031NAF:IndividualReplyClaimContestationsLatePaymentsType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne RPY_COC_ILPs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalNoteReplyContestationClaimForInterestLatePaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalILPReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale ILP-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_ILPReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_ILP-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_ILPReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_ILP-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalRPY_COC_ILPReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale RPY_COC_ILP-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalNumberOfContestationReplies" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtzahl der Antworten auf Beanstandungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountAcceptedContestationsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Zinsen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfReceiptByDebtorLiaisonBody" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Eingangsdatum bei der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfSubmission" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Datum der Übermittlung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualReplyClaimContestationsLatePaymentsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualRPYCOCILP" type="sedS031NAF:IndividualClaimForInterestLatePaymentType" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne RPY_COC_ILP
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualClaimForInterestLatePaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IDCreditorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des forderungsberechtigten Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDDebtorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des leistungspflichtigen Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="References" type="sedS031NAF:ReferencesType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Bezug
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonReceivingBenefits" type="CC:EESSIPersonInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Person, die Leistungen bezieht
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AmountAcceptedContestationsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Zinsbetrag
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="replyContestation" type="CC:EESSIReplyContestationType"/>
			<xsd:element name="copyFlag" type="SSecNat:NationalMarker" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nationale Kennzeichnung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalILPReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale ILP-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_ILPReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_ILP-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_ILPReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_ILP-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalRPY_COC_ILPReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale RPY_COC_ILP-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualILPNumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen ILP der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCOC_ILPNumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen COC_ILP der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCOC_ILPNumberDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen COC_ILP des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRPY_COC_ILPNumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen RPY_COC_ILP der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="S031NAF" type="sedS031NAF:S031NAF">
		<xsd:annotation>
			
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
