XmlSchemaClassGenerator.BatchConverter/schemas/NAE/S080NDF-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:SSec="http://ec.europa.eu/eessi/ns/4_4/SSec" xmlns:SSecNat="https://www.gkv-spitzenverband.de/6_0/SSecNat" xmlns:sedS080NDF="https://www.gkv-spitzenverband.de/6_0/S080NDF" targetNamespace="https://www.gkv-spitzenverband.de/6_0/S080NDF" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/SSec" schemaLocation="SSec-4.4.xsd"/>
	<xsd:import namespace="https://www.gkv-spitzenverband.de/6_0/SSecNat" schemaLocation="SSecNat-6.0.xsd"/>
	<xsd:complexType name="S080NDF">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
Deutsche Forderungen nach tatsächlichen Aufwendungen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalNoteCLA" type="sedS080NDF:GlobalNoteClaimType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Erstattungsforderung (CLA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCLAs" type="sedS080NDF:IndividualClaimsType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne CLAs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalNoteClaimType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="country" type="CC:EESSIEUEFTACountryType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Staat für den eingereicht wird
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LiaisonBody" type="SSecNat:LiaisonBodyType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Verbindungsstelle
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="globalCLAReferenceCreditorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CLA-Referenz des Trägers des forderungsberechtigten Mitgliedstaats (Vorgangsnummer Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="totalNumberIndividualClaims" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtzahl der Einzelforderungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountBenefitsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Leistungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateOfSubmission" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Datum der Übermittlung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualClaimsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualCLA" type="sedS080NDF:IndividualClaimType" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne CLA
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualClaimType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IDCreditorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des forderungsberechtigten Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDDebtorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des leistungspflichtigen Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="References" type="sedS080NDF:ReferencesType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Bezug
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonReceivingBenefits" type="CC:EESSIPersonInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Person, die Leistungen bezieht
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntitlementDocument" type="SSec:SSicknessEntitlementType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Anspruchsbescheinigung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIndividualAmountBenefitsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gesamtbetrag der einzelnen Leistungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProvidedBenefits" type="SSec:SBenefitsInKindType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Erbrachte Leistungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="globalCLAReferenceCreditorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CLA-Referenz des Trägers des forderungsberechtigten Mitgliedstaats (Vorgangsnummer Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCLAReferenceCreditorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen CLA des Trägers des forderungsberechtigten Mitgliedstaats (Kostenrechnungsnummer Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateCreditorInstitutionRecordedCLA" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Datum der Verbuchung der Forderung beim Träger des Wohn- oder Aufenthaltsorts.
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'PleaseFillInIfThisIsAnAdditionalClaimForTheSamePeriod' minOccurs='0' maxOccurs='1' type='sedS080NDF:ReferencesOfAdditionalClaimType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>D5EDEF61-9E71-4CA6-838B-D0A6C166EB63</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesOfAdditionalClaimType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="globalCLAReferenceCreditorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						Globale CLA-Referenz des Trägers des forderungsberechtigten Mitgliedstaats (Vorgangsnummer Krankenkasse)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCLAReferenceCreditorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>					
					<xsd:documentation xml:lang="de">
						Nummer der einzelnen CLA des Trägers des forderungsberechtigten Mitgliedstaats (Kostenrechnungsnummer Krankenkasse)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:complexType name="SicknessEntitlementType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="document" type="sedS080NDF:SicknessEntitlementDocumentCodeContentType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Dokument
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="FillInProvisionalReplacementCertificateEHIC" type="sedS080NDF:ProvisionalReplacementCertificateEHICType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte
folgendes Feld aus, wenn „Anspruchsbescheinigung“ = „01 - EHIC -Europäische Krankenversicherungskarte“:
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FillInProvisionalReplacementCertificatePeriod" type="sedS080NDF:ProvisionalReplacementCertificatePeriodType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgende Felder aus,wenn „Anspruchsbescheinigung“ = „02 -Provisorische Ersatzbescheinigung“, „04- S2 Anspruch auf geplante Behandlung“,„08 - S045 Anspruchsbescheinigung- vorübergehender Aufenthalt“ oder„12 - E112 Bescheinigung über dieWeitergewährung der Leistungen der Kranken-und Mutterschaftsversicherung“:
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FillInProvisionalReplacementCertificateOther" type="sedS080NDF:ProvisionalReplacementCertificateOtherType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgende Felder aus, wenn „Anspruchsbescheinigung“ ungleich „01 - EHIC - Europäische Krankenversicherungskarte“, „02 - Provisorische Ersatzbescheinigung“, „04 - S2 Anspruch auf geplante Behandlung“, „08 - S045 Anspruchsbescheinigung - vorübergehender Aufenthalt“ oder „12 - E112 Bescheinigung über die Weitergewährung der Leistungen der Kranken- und Mutterschaftsversicherung“:
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SicknessEntitlementDocumentCodeContentType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<value>01</value>
						<definition>EHIC - EuropäischeKrankenversicherungskarte</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>02</value>
						<definition>ProvisorischeErsatzbescheinigung</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>03</value>
						<definition>S1 Eintragung zwecks Inanspruchnahme des Krankenversicherungsschutzes</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>04</value>
						<definition>S2 Anspruch auf eine geplante Behandlung</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>05</value>
						<definition>S3 Medizinische Behandlung eines ehemaligen Grenzgängers/einer ehemaligen Grenzgängerin im Staat der vormaligen Erwerbstätigkeit</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>06</value>
						<definition>S037 Antwort auf die Beantragung einer ergänzendenAnspruchsbescheinigung - geplante Behandlung</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>07</value>
						<definition>S072 Anspruchsbescheinigung - Wohnort</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>08</value>
						<definition>S045 Anspruchsbescheinigung - vorübergehender Aufenthalt</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>09</value>
						<definition>S008 Anspruchsbescheinigung - Ehemalige/r Grenzgänger/in - Familienangehörige/r eines ehemaligen Grenzgängers/einer ehemaligen Grenzgängerin</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>10</value>
						<definition>E106 Anspruchsbescheinigung - Wohnort</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>11</value>
						<definition>E109 Bescheinigung über die Eintragung der Familienangehörigen der beschäftigten oder selbstständig erwerbstätigen Person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>12</value>
						<definition>E112 Bescheinigung über die Weitergewährung der Leistungen der Kranken-/Mutterschaftsversicherung</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>13</value>
						<definition>E120 Bescheinigung des Sachleistungsanspruchs für Rentenantragsteller/-innen und ihre Familienangehörigen</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>14</value>
						<definition>E121 Bescheinigung über die Eintragung der Rentenberechtigten oder ihrer Familienangehörigen und die Führung der Verzeichnisse</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
01 - EHIC - EuropäischeKrankenversicherungskarte
02 - ProvisorischeErsatzbescheinigung 
03 - S1 Eintragung zwecks Inanspruchnahme des Krankenversicherungsschutzes
04 - S2 Anspruch auf eine geplante Behandlung
05 - S3 Medizinische Behandlung eines ehemaligen Grenzgängers/einer ehemaligen Grenzgängerin im Staat der vormaligen Erwerbstätigkeit
06 - S037 Antwort auf die Beantragung einer ergänzendenAnspruchsbescheinigung - geplante Behandlung 
07 - S072 Anspruchsbescheinigung - Wohnort 
08 - S045 Anspruchsbescheinigung - vorübergehender Aufenthalt 
09 - S008 Anspruchsbescheinigung - Ehemalige/r Grenzgänger/in - Familienangehörige/r eines ehemaligen Grenzgängers/einer ehemaligen Grenzgängerin 
10 - E106 Anspruchsbescheinigung - Wohnort 
11 - E109 Bescheinigung über die Eintragung der Familienangehörigen der beschäftigten oder selbstständig erwerbstätigen Person 
12 - E112 Bescheinigung über die Weitergewährung der Leistungen der Kranken-/Mutterschaftsversicherung
13 - E120 Bescheinigung des Sachleistungsanspruchs für Rentenantragsteller/-innen und ihre Familienangehörigen
14 - E121 Bescheinigung über die Eintragung der Rentenberechtigten oder ihrer Familienangehörigen und die Führung der Verzeichnisse
      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="(01|02|03|04|05|06|07|08|09|10|11|12|13|14){1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProvisionalReplacementCertificateEHICType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="eHICNumber" type="CC:EESSIEHICType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
EHIC-Nummer
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EntitlementValidityPeriod" type="SSecNat:EESSIPeriodEHICType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gültigkeitszeitraum des Anspruchs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProvisionalReplacementCertificatePeriodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EntitlementValidityPeriod" type="CC:EESSIPeriodType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gültigkeitszeitraum des Anspruchs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateIssue" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Ausstellungsdatum
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProvisionalReplacementCertificateOtherType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EntitlementValidityPeriod" type="CC:EESSIOngoingPeriodType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gültigkeitszeitraum des Anspruchs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateIssue" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Ausstellungsdatum
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="S080NDF" type="sedS080NDF:S080NDF">
		<xsd:annotation/>
	</xsd:element>
</xsd:schema>
