XmlSchemaClassGenerator.BatchConverter/schemas/NAE/S107NA-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:SSec="http://ec.europa.eu/eessi/ns/4_4/SSec" xmlns:SSecNat="https://www.gkv-spitzenverband.de/6_0/SSecNat" xmlns:sedS107NA="https://www.gkv-spitzenverband.de/6_0/S107NA" targetNamespace="https://www.gkv-spitzenverband.de/6_0/S107NA" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/SSec" schemaLocation="SSec-4.4.xsd"/>
	<xsd:import namespace="https://www.gkv-spitzenverband.de/6_0/SSecNat" schemaLocation="SSecNat-6.0.xsd"/>
	<xsd:complexType name="S107NA">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
Nationale Abweisung einer Beanstandung einer Gutschrift</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalNoteCOCCRNIMO" type="sedS107NA:GlobalNoteMonthsInventoryCreditNoteContestationType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nationale Abweisung einer Beanstandung einer Gutschrift (COC_CRN_IMO)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCOCCRNIMOs" type="sedS107NA:IndividualMonthsInventoryCreditNoteContestationsType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne COC_CRN_IMOs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalNoteMonthsInventoryCreditNoteContestationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalIMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Vorgangsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCRN_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CRN_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_CRN_IMOReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_CRN_IMO-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalNA_COC_CRN_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale NA_COC_CRN_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalNumberOfNACreditNotesContestations" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtzahl der national abgewiesenen Beanstandungen von Gutschriften
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalNumberOfNAMonthsContested" type="xsd:int" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtzahl der national abgewiesenen beanstandeten Monate
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfSubmission" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Datum der Übermittlung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualMonthsInventoryCreditNoteContestationsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualCOCCRNIMO" type="sedS107NA:IndividualMonthsInventoryCreditNoteContestationType" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne COC_CRN_IMO
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualMonthsInventoryCreditNoteContestationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IDCreditorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des forderungsberechtigten Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDDebtorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des leistungspflichtigen Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="References" type="sedS107NA:ReferencesType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Bezug
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonReceivingBenefits" type="CC:EESSIPersonInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Person, die Leistungen bezieht
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberOfMonths" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Anzahl der national abgewiesenen beanstandeten Monate
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditNotesContestationNACode" type="sedS107NA:ReplyCreditNotesNACodeType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Grund der nationalen Abweisung der Beanstandung einer Gutschrift
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="FillInMandatoryFieldEmpty" type="SSecNat:MandatoryFieldEmptyType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgendes Feld aus, wenn Grund der Abweisung = "01 - Pflichtfeld nicht gefüllt":
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FillInEESSICRUniqueidentifier" type="CC:EESSICRUniqueidentifierType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgendes Feld aus, wenn Grund der Abweisung = "04 - Betreffende Kostenrechnungsnummer lautet":
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FillInContestationRefusalCodeInfoOther" type="SSecNat:OtherRefusalCodeType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgendes Feld aus, wenn Grund der Abweisung = "99 - sonstiger Grund":
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalIMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Vorgangsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCRN_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CRN_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_CRN_IMOReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_CRN_IMO-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalNA_COC_CRN_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale NA_COC_CRN_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualIMONumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Kostenrechnungsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCRN_IMONumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen CRN_IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCOC_CRN_IMONumberDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen COC_CRN_IMO des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualNA_COC_CRN_IMONumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen NA_COC_CRN_IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReplyCreditNotesNACodeType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<value>01</value>
						<definition>Pflichtfeld nicht ausgefüllt</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>02</value>
						<definition>Kenn-Nummer des Trägers ist unbekannt</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>03</value>
						<definition>Angehangenes Dokument fehlt oder ist fehlerhaft</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>04</value>
						<definition>Betreffende Kostenrechnungsnummer lautet</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>05</value>
						<definition>Bitte Kostenrechnung beanstanden (innerhalb 18 Monatsfrist)</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>06</value>
						<definition>Bitte Antrag auf Erstattung einer Überzahlung (S051NDS) erstellen (außerhalb 18 Monatsfrist)</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>07</value>
						<definition>Beanstandung wurde ausgeräumt</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>08</value>
						<definition>Forderung wurde nicht beanstandet</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>09</value>
						<definition>Summe der Einzelbeanstandungen entspricht nicht Gesamtsumme</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>98</value>
						<definition>Beanstandung nicht möglich, da bereits durch DVKA beanstandet</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>99</value>
						<definition>sonstiger Grund</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" minOccurs="1" maxOccurs="1">
				<xsd:annotation/>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="(01|02|03|04|05|06|07|08|09|98|99){1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="S107NA" type="sedS107NA:S107NA">
		<xsd:annotation/>
	</xsd:element>
</xsd:schema>
