NAE_4.4.1_6.0.1_rc1/Nationales Datenmodell/Nationale_SED_XSD/sed/HSec-4.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:HSec="http://ec.europa.eu/eessi/ns/4_4/HSec" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="unqualified" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" targetNamespace="http://ec.europa.eu/eessi/ns/4_4/HSec" version="4.4.1">
<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:complexType name='HAttachedDocumentsType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>3E150B4F-1548-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'predefinedDocuments' minOccurs='0' maxOccurs='1' type='HSec:HAttachedDocumentsFullListMultipleType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>FD2FF47A-7F4E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="HUniqueConstraint1">
					<xsd:selector xpath="value"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name = 'OtherDocumentsAttached' minOccurs='0' maxOccurs='1' type='HSec:HOthersType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>A5508E22-804E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAdditionalInfoPersonType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>EBFA3730-E27F-E611-80CF-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'nationality' minOccurs='0' maxOccurs='1' type='CC:EESSINationalityMultipleType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>F4FA3730-E27F-E611-80CF-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="HUniqueConstraint2">
					<xsd:selector xpath="value"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAddressPersonType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>64DE90FF-DF36-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'typeAddress' minOccurs='0' maxOccurs='1' type='CC:EESSIAddressType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>C96B0D48-6E5D-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'Address' minOccurs='0' maxOccurs='1' type='CC:EESSIAddressWorldType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>70DE90FF-DF36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HPersonType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>5A4A0D8E-0880-E611-80D0-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'PersonIdentification' minOccurs='1' maxOccurs='1' type='CC:EESSIPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>7F4A0D8E-0880-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'AdditionalInformationPerson' minOccurs='0' maxOccurs='1' type='HSec:HAdditionalInfoPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>934A0D8E-0880-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HReimbursemenHorizontaltContextType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>957853ED-DF19-E711-80D3-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'reimbursementRequestID' minOccurs='1' maxOccurs='1' type='CC:EESSICRUniqueidentifierType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>967853ED-DF19-E711-80D3-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAddressesType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>A42AD2FD-6881-E611-80D0-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'AddressInsuredPerson' minOccurs='0' maxOccurs='unbounded' type='HSec:HAddressWithType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>AF2AD2FD-6881-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HFillInFollowingIfStatusPersonOtherType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>028B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'other' minOccurs='0' maxOccurs='1' type='CC:EESSIShortStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>078B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HOtherDocumentsType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>3D150B4F-1548-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'document' minOccurs='0' maxOccurs='1' type='CC:EESSILongStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>3F150B4F-1548-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HPersonAddressBlockContainingType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>63DE90FF-DF36-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'AddressPerson' minOccurs='0' maxOccurs='unbounded' type='HSec:HAddressPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>74DE90FF-DF36-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HPersonBlockSpecificInH010H011H012H061H062Type'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>312C1CAD-B837-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'PersonIdentification' minOccurs='1' maxOccurs='1' type='CC:EESSIPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>3B2C1CAD-B837-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'AdditionalInformationPerson' minOccurs='0' maxOccurs='1' type='HSec:HAdditionalInformationPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>3D2C1CAD-B837-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAdditionalInformationType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>85993A34-E236-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'additionalInformation' minOccurs='0' maxOccurs='1' type='CC:EESSIVeryLongStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>8D993A34-E236-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HDescriptionNatureSpecificCharacteristicsActivityType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>64C526F5-F136-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'typeActivity' minOccurs='0' maxOccurs='1' type='HSec:HGainfulNonGainfulActivityType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>72C526F5-F136-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'descriptionActivity' minOccurs='0' maxOccurs='1' type='CC:EESSIMediumStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>73C526F5-F136-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'locationActivity' minOccurs='0' maxOccurs='1' type='CC:EESSIShortStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>67C526F5-F136-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'durationActivity' minOccurs='0' maxOccurs='1' type='CC:EESSIShortStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>66C526F5-F136-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'natureActivity' minOccurs='0' maxOccurs='1' type='CC:EESSILongStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>68C526F5-F136-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAddressWithType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>594A0D8E-0880-E611-80D0-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'typeAddress' minOccurs='0' maxOccurs='1' type='CC:EESSIAddressType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>634A0D8E-0880-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'Address' minOccurs='0' maxOccurs='1' type='CC:EESSIAddressWorldType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>7D4A0D8E-0880-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HOtherBlockType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>DBC7E34D-FA12-E711-80D3-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'other' minOccurs='0' maxOccurs='1' type='CC:EESSIVeryLongStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>DEC7E34D-FA12-E711-80D3-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HSpecificPersonBlockIncludingOnlyNationalityType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>18F17357-C837-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'PersonIdentification' minOccurs='1' maxOccurs='1' type='CC:EESSIPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>1AF17357-C837-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'AdditionalInformationPerson' minOccurs='0' maxOccurs='1' type='HSec:HAdditionalInfoPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>AF8A5772-C937-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAdditionalInformationPersonType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>322C1CAD-B837-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'previousFamilyName' minOccurs='0' maxOccurs='1' type='CC:EESSIPersonNameType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>DD07BBFE-1B5E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'previousForename' minOccurs='0' maxOccurs='1' type='CC:EESSIPersonNameType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>DE07BBFE-1B5E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'nationality' minOccurs='0' maxOccurs='1' type='CC:EESSINationalityMultipleType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>C45CDAAB-2553-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="HUniqueConstraint3">
					<xsd:selector xpath="value"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HSpecificPersonBlockIncludingNationalityStatusType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FF053B36-125E-E611-80CA-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'PersonIdentification' minOccurs='1' maxOccurs='1' type='CC:EESSIPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>04063B36-125E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'AdditionalInformationPerson' minOccurs='0' maxOccurs='1' type='HSec:HAddInfoBlockContainingNationalityStatusType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>EBE5CE71-135E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HOthersType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>D29C4B4C-6D4A-E611-80CA-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'OtherDocument' minOccurs='0' maxOccurs='unbounded' type='HSec:HOtherDocumentsType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>2C34D7FD-1B48-E611-80C9-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HSEDRelatedType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>00EA8748-D380-E611-80D0-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'thisSEDRelatedTo' minOccurs='1' maxOccurs='1' type='CC:EESSITypeSEDAccidentDiseaseType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>320E086B-DC80-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'dated' minOccurs='1' maxOccurs='1' type='CC:EESSIBusinessDateType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>330E086B-DC80-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'accidentDiseaseCode' minOccurs='0' maxOccurs='1' type='CC:EESSITinyStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>038B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'accidentDiseaseCodingSystem' minOccurs='0' maxOccurs='1' type='CC:EESSIShortStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>048B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'consequencesAccidentKindOrShortDescriptionDisease' minOccurs='0' maxOccurs='1' type='CC:EESSILongStringType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>058B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'statusPerson' minOccurs='0' maxOccurs='1' type='HSec:HTypePersonLabourPartialType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>068B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'PleaseFillInFollowingIfStatusPersonOther' minOccurs='0' maxOccurs='1' type='HSec:HFillInFollowingIfStatusPersonOtherType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>098B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = 'Employer' minOccurs='1' maxOccurs='1' type='CC:EESSIOrganisationType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>088B9A8F-6581-E611-80D0-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAddInfoBlockContainingNationalityStatusType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>FC053B36-125E-E611-80CA-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'nationality' minOccurs='0' maxOccurs='1' type='CC:EESSINationalityMultipleType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>01063B36-125E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="HUniqueConstraint4">
					<xsd:selector xpath="value"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name = 'statusPerson' minOccurs='0' maxOccurs='1' type='HSec:HPersonStatusLimitedMultipleType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>02063B36-125E-E611-80CA-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="HUniqueConstraint5">
					<xsd:selector xpath="value"/>
					<xsd:field xpath="."/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name = 'PleaseFillInIfStatusPersonOther' minOccurs='0' maxOccurs='1' type='HSec:HOtherBlockType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>DFC7E34D-FA12-E711-80D3-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HFillInSectionIfRequestConcernsSicknessSectorType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>7CC42E2F-2491-E611-80D1-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue></ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = 'personStatus' minOccurs='1' maxOccurs='1' type='HSec:HStatusInsuredPersonType'>
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<ccts:DictionaryEntryName>82C42E2F-2491-E611-80D1-000D3A22E8CD</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HTypePersonLabourPartialType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>1DE99124-DF2B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal.ENUM</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>D63BD734-DF2B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Employee</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>20B17143-DF2B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Self-employed</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>CE957E4C-DF2B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>03</value>
						<definition>Civil servant</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>55B63353-DF2B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>04</value>
						<definition>Frontier worker</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>56B63353-DF2B-E611-80C8-000D3A22E8CD</ccts:UniqueID>
						<value>99</value>
						<definition>Other</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name='value' minOccurs='1' maxOccurs='1'>
				<xsd:simpleType>
					<xsd:restriction base='xsd:string'>
						<xsd:pattern value='(01|02|03|04|99){1}'/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HAttachedDocumentsFullListMultipleType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>ECBEBF86-D936-E611-80C9-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal.ENUM</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>411E92A1-D936-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Application</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>421E92A1-D936-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Certificate of death</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>D60CD946-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>03</value>
						<definition>Invoices</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>D70CD946-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>04</value>
						<definition>Statement of income</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>61E02E4F-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>05</value>
						<definition>Claim</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>62E02E4F-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>06</value>
						<definition>Medical evidence</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>B28ABC56-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>07</value>
						<definition>Work certificate</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>B38ABC56-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>08</value>
						<definition>Birth certificate</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>2C22D55F-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>09</value>
						<definition>Marriage certificate</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>2D22D55F-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>10</value>
						<definition>Diploma(s)</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>B590306A-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>11</value>
						<definition>Medical Report</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>B690306A-2339-E611-80C9-000D3A22E8CD</ccts:UniqueID>
						<value>12</value>
						<definition>Medical Certificate</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>6D799572-E4F9-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>99</value>
						<definition>Other</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name='value' minOccurs='1' maxOccurs='unbounded'>
				<xsd:simpleType>
					<xsd:restriction base='xsd:string'>
						<xsd:pattern value='(01|02|03|04|05|06|07|08|09|10|11|12|99){1}'/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HPersonStatusLimitedMultipleType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>8595FEB0-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal.ENUM</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>BF21ECE0-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Employed Person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>C021ECE0-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Self-Employed person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>45A10FE7-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>03</value>
						<definition>Frontier worker</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>46A10FE7-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>04</value>
						<definition>Former frontier worker</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>85BA4BED-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>05</value>
						<definition>Pensioner</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>86BA4BED-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>06</value>
						<definition>Pension Claimant</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>87BA4BED-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>07</value>
						<definition>Unemployed person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>FD7DA7F6-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>08</value>
						<definition>Family member/dependent</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>FE7DA7F6-87FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>09</value>
						<definition>Family member of employed person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>87EC4501-88FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>10</value>
						<definition>Family member of a pensioner</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>88EC4501-88FE-E611-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>11</value>
						<definition>Student</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>B2DC7878-BA13-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>12</value>
						<definition>Non-active person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>C6F81F7F-BA13-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>99</value>
						<definition>Other</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name='value' minOccurs='1' maxOccurs='unbounded'>
				<xsd:simpleType>
					<xsd:restriction base='xsd:string'>
						<xsd:pattern value='(01|02|03|04|05|06|07|08|09|10|11|12|99){1}'/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HReferenceListType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>66BF82A4-3E2B-E711-80D4-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal.ENUM</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>B87632B7-3E2B-E711-80D4-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Administrative check request</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>4EFD33C0-3E2B-E711-80D4-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Medical examination request</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name='value' minOccurs='1' maxOccurs='1'>
				<xsd:simpleType>
					<xsd:restriction base='xsd:string'>
						<xsd:pattern value='(01|02){1}'/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HGainfulNonGainfulActivityType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>B6AE1880-422B-E711-80D4-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal.ENUM</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>0FB5629A-422B-E711-80D4-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Gainful activity</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>E92D03A3-422B-E711-80D4-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Non-gainful activity</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name='value' minOccurs='1' maxOccurs='1'>
				<xsd:simpleType>
					<xsd:restriction base='xsd:string'>
						<xsd:pattern value='(01|02){1}'/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name='HStatusInsuredPersonType'>
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>3EE69456-D11D-E711-80D3-000D3A22E8CD</ccts:UniqueID>
				<ccts:ObjectClassQualifierTerm>SC.Horizontal.ENUM</ccts:ObjectClassQualifierTerm>
				<ccts:BusinessProcessContextValue>EESSI</ccts:BusinessProcessContextValue>
				<ccts:OfficialConstraintContextValue>
					<CodeListEntry>
						<ccts:UniqueID>D791146F-D11D-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>01</value>
						<definition>Insured person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>18EEDB77-D11D-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>02</value>
						<definition>Family member of insured person</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>19EEDB77-D11D-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>03</value>
						<definition>Pensioner</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>A7A50485-D11D-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>04</value>
						<definition>Family member of pensioner</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>AEE3D48F-D11D-E711-80D3-000D3A22E8CD</ccts:UniqueID>
						<value>05</value>
						<definition>Pension claimant</definition>
					</CodeListEntry>
					<CodeListEntry>
						<ccts:UniqueID>746098C2-66BD-EB11-80E7-000D3A22E8CD</ccts:UniqueID>
						<value>06</value>
						<definition>Family member of pension claimant</definition>
					</CodeListEntry>
				</ccts:OfficialConstraintContextValue>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name='value' minOccurs='1' maxOccurs='1'>
				<xsd:simpleType>
					<xsd:restriction base='xsd:string'>
						<xsd:pattern value='(01|02|03|04|05|06){1}'/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>