NAE_4.4.1_6.0.1_rc1/Nationales Datenmodell/Nationale_SED_XSD/sed/S053R_NDS-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:SSec="http://ec.europa.eu/eessi/ns/4_4/SSec" xmlns:SSecNat="https://www.gkv-spitzenverband.de/6_0/SSecNat" xmlns:sedS053R_NDS="https://www.gkv-spitzenverband.de/6_0/S053R_NDS" targetNamespace="https://www.gkv-spitzenverband.de/6_0/S053R_NDS" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/SSec" schemaLocation="SSec-4.4.xsd"/>
	<xsd:import namespace="https://www.gkv-spitzenverband.de/6_0/SSecNat" schemaLocation="SSecNat-6.0.xsd"/>
	<xsd:complexType name="S053R_NDS">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
Antwort auf die Beanstandung des deutschen Antrags auf Erstattung einer Überzahlung</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalNoteRPYCOCRRO" type="sedS053R_NDS:GlobalNoteRPYCOCRROType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Antwort auf die Beanstandung des Antrags auf Erstattung einer Überzahlung (RPY_COC_RRO)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRPYCOCRROs" type="sedS053R_NDS:IndividualRPYCOCRROsType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne RPY_COC_RROs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalNoteRPYCOCRROType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalRROReferenceLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale RRO-Referenz der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalRROReferenceInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale RRO-Referenz des Trägers des Absenders (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_RROReferenceLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_RRO-Referenz der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="GlobalRPY_COC_RROReferenceLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
GlobalRPY_COC_RRO-Referenz der Verbindungsstelle des Absenders (DVKA
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="GlobalRPY_COC_RROReferenceInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Globale RPY_COC_RRO-Referenz des Trägers des Absenders (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="TotalNumberOfIndividualContestationRepliesRRO" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtzahl der Antworten auf Beanstandungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountOfAcceptedContestationsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der akzeptierten Beanstandungen(in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfSubmission" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Datum der Übermittlung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualRPYCOCRROsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualRPYCOCRRO" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne RPY_COC_RRO
      </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="sedS053R_NDS:IndividualRPYCOCRROType"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualRPYCOCRROType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IDCreditorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des forderungsberechtigten Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDDebtorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des leistungspflichtigen Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="References" type="sedS053R_NDS:ReferencesType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Bezug
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonReceivingBenefits" type="CC:EESSIPersonInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Person, die Leistungen bezieht
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RefundPeriod" type="CC:EESSIPeriodType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Erstattungszeitraum
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AmountAcceptedContestationsEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Der Betrag der festgestellten Überzahlung, der zu erstatten oder zu verrechnen ist
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReplyContestation" type="sedS053R_NDS:ReplyContestationType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Antwort auf die Beanstandung

01 - Beanstandung akzeptiert - einzelne Überzahlung wird aus S051 entfernt
02 - Beanstandung teilweise akzeptiert - einzelne Überzahlung wurde angepasst
03 - Weitere Informationen werden mitgeteilt
99 - sonstiger Grund
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="copyFlag" type="SSecNat:NationalMarker" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nationale Kennzeichnung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalRROReferenceLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale RRO-Referenz der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalRROReferenceInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale RRO-Referenz des Träger des Absenders (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCOC_RROReferenceLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale COC_RRO-Referenz der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="GlobalRPY_COC_RROReferenceLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
GlobalRPY_COC_RRO-Referenz der Verbindungsstelle des Absenders (DVKA
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="GlobalRPY_COC_RROReferenceInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Globale RPY_COC_RRO-Referenz des Träger des Absenders (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="IndividualRRONumberLiaisonBody" type="CC:EESSICRUniqueidentifierType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen RRO der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRRONumberInstitution" type="CC:EESSICRUniqueidentifierType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen RRO des Trägers des Absenders (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCOC_RRONumberLiaisonBody" type="CC:EESSICRUniqueidentifierType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen COC_RRO der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>

				<xsd:element name="IndividualRPY_COC_RRONumberInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">
Nummer der einzelnen RPY_COC_RRO des Trägers des Absenders (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IndividualRPY_COC_RRONumberLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
					<xsd:documentation xml:lang="de">
Nummer der einzelnen RPY_COC_RRO der Verbindungsstelle des Absenders (DVKA)
      </xsd:documentation>
					</xsd:annotation>				
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FillInFollowingIfReplyContestation01Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="ConditionalContestationAcceptedPartiallyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RefundPeriod" type="CC:EESSIPeriodType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Erstattungszeitraum
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RefundAmountEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Erstattungsbetrag (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConditionalFurtherInformationProvidedType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="additionalInformation" type="CC:EESSIVeryLongStringType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Weitere Informationen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="S053R_NDS" type="sedS053R_NDS:S053R_NDS">
		<xsd:annotation>
			
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ReplyContestationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="replyContestation" type="sedS053R_NDS:ReplyContestationSicknessType"/>
			<xsd:choice>
				<xsd:element name="FillInConditionalContestationAcceptedPartially" type="sedS053R_NDS:ConditionalContestationAcceptedPartiallyType" minOccurs="0">
					<xsd:annotation>
						
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgendes Feld aus, wenn "Beanstandungsgrund" = "02 - Beanstandung teilweise akzeptiert - einzelne Überzahlung wurde angepasst":
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FillInConditionalFurtherInformationProvided" type="sedS053R_NDS:ConditionalFurtherInformationProvidedType" minOccurs="0">
					<xsd:annotation>
						
						
						<xsd:documentation xml:lang="de">
Füllen Sie bitte folgendes Feld aus, wenn "Beanstandungsgrund" = "03 - Weitere Informationen werden mitgeteilt" oder "Beanstandungsgrund" = "99 - sonstiger Grund":
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReplyContestationSicknessType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					<CodeListEntry>
						<value>01</value>
						<definition>Beanstandung akzeptiert - einzelne Überzahlung wird aus S051 entfernt</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>02</value>
						<definition>Beanstandung teilweise akzeptiert - einzelne Überzahlung wurde angepasst</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>03</value>
						<definition>Weitere Informationen werden mitgeteilt</definition>
					</CodeListEntry>
					<CodeListEntry>
						<value>99</value>
						<definition>Sonstiger Grund</definition>
					</CodeListEntry>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="value" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="(01|02|03|99){1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>