NAE_4.4.1_6.0.1_rc1/Nationales Datenmodell/Nationale_SED_XSD/sed/S116NAF-6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:CC="http://ec.europa.eu/eessi/ns/4_4/CC" xmlns:SSec="http://ec.europa.eu/eessi/ns/4_4/SSec" xmlns:SSecNat="https://www.gkv-spitzenverband.de/6_0/SSecNat" xmlns:sedS116NAF="https://www.gkv-spitzenverband.de/6_0/S116NAF" targetNamespace="https://www.gkv-spitzenverband.de/6_0/S116NAF" version="6.0.0">
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/CC" schemaLocation="CC-4.4.xsd"/>
	<xsd:import namespace="http://ec.europa.eu/eessi/ns/4_4/SSec" schemaLocation="SSec-4.4.xsd"/>
	<xsd:import namespace="https://www.gkv-spitzenverband.de/6_0/SSecNat" schemaLocation="SSecNat-6.0.xsd"/>
	<xsd:complexType name="S116NAF">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de">
Zahlungsankündigung von Forderungen nach pauschalem Aufwand</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalNotePAYIMO" type="sedS116NAF:GlobalNoteMonthsInventoryPaymentType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Information über Zahlung einer Einzelforderung -Pauschalbeträge (PAY_IMO)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualPAYIMOs" type="sedS116NAF:IndividualMonthsInventoryPaymentsType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne PAY_IMOs
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="sedPackage" type="xsd:string"/>
		<xsd:attribute name="sedGVer" type="xsd:int"/>
		<xsd:attribute name="sedVer" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalNoteMonthsInventoryPaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalIMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Vorgangsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCLA_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CLA_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalPAY_IMOReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale PAY_IMO-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalTransactionReferenceDebtorInstitution" type="CC:EESSIMediumStringType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Überweisungstext
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="totalNumberMonthsCLAIMO" type="xsd:int" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gesamtzahl der Monate CLA_IMO
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LumpSumEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Pauschalbetrag (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="totalNumberIndividualPayments" type="CC:EESSICRIndividualClaimsCountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Gesamtzahl der einzelnen Zahlungen
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalPaymentAmountToBePaidEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Summe der zu leistenden Zahlungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalClaimAmountEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Forderung (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountOfCreditNotesForUnpaidClaimsEUR" type="CC:EESSIAmountType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Gutschriften für unbezahlte Forderungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalAmountOfAcceptedContestationsEUR" type="CC:EESSIAmountType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der Beanstandungen für unbezahlte Forderungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfSubmission" type="CC:EESSIBusinessDateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Datum der Übermittlung
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualMonthsInventoryPaymentsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualPAYIMO" type="sedS116NAF:IndividualMonthsInventoryPaymentType" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Einzelne PAY_IMO
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualMonthsInventoryPaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IDCreditorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des forderungsberechtigten Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDDebtorInstitution" type="CC:EESSIInstitutionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Kennung des leistungspflichtigen Trägers
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="References" type="sedS116NAF:ReferencesType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Bezug
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonReceivingBenefits" type="CC:EESSIPersonInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Person, die Leistungen bezieht
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberOfMonthsClaimIMO" type="xsd:int" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Anzahl der Monate in der Forderung (IMO)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberOfMonthsCRNIMO" type="xsd:int" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Anzahl der gutgeschriebenen Monate (CRN_IMO)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberMonthsCOCIMO" type="xsd:int" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Anzahl der beanstandeten Monate (COC_IMO)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIndividualAmountOfPaymentIMOEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der einzelnen Zahlungen (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIndividualAmountOfClaimIMOEUR" type="CC:EESSIAmountType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Gesamtbetrag der einzelnen Forderung (in EUR)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditNotes" type="sedS116NAF:PAYIMOCreditNotesInformationType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
PAY_IMO-Angaben für Gutschriften
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcceptedContestations" type="sedS116NAF:AcceptedContestationsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GlobalIMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Vorgangsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalCLA_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
Globale CLA_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlobalPAY_IMOReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Globale PAY-Referenz des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualIMOnumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Kostenrechnungsnummer DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualPAY_IMONumberDebtorInstitution" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Nummer der einzelnen PAY_IMO des Trägers des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PAYIMOCreditNotesInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CreditNote" type="sedS116NAF:PAYIMOCreditNoteInformationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
PAY_IMO-Angaben für Gutschrift
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PAYIMOCreditNoteInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualAmountCreditNoteEUR" type="CC:EESSIAmountType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einzelbetrag der Gutschrift</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditNoteReferences" type="sedS116NAF:PAYIMOInformationCreditNoteType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">PAY_IMO-Angaben für Gutschriften</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COC_IMOReferencesDLBType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="COC_IMOReferenceDLBType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualAmountAcceptedContestationEUR" type="CC:EESSIAmountType">
			<xsd:annotation>
				<xsd:documentation xml:lang="de">Einzelbetrag der akzeptierten Beanstandung</xsd:documentation>
				
			</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ReferencesAcceptedContestation" type="sedS116NAF:ReferencesAcceptedContestationType">
			<xsd:annotation>
				<xsd:documentation xml:lang="de">Referenzen der akzeptierten Beanstandung</xsd:documentation>
				
			</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COCCLAIMOReferencesDLBType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="COC_CLA_IMOReferencesDebtorLiaisonBody" type="sedS116NAF:COCCLAIMOReferenceDLBType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
COC_CLA_IMO-Referenzen der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COCCLAIMOReferenceDLBType">
		<xsd:annotation>
			
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="globalCOC_CLA_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
Globale COC_CLA_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="S116NAF" type="sedS116NAF:S116NAF">
		<xsd:annotation/>
	</xsd:element>
	<xsd:complexType name="AcceptedContestationsType">
		<xsd:sequence>
			<xsd:element name="AcceptedContestation" type="sedS116NAF:COC_IMOReferenceDLBType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesAcceptedContestationType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="globalCOC_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Globale COC_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="individualCOC_IMONumberDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Nummer der einzelnen COC_IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="globalCOC_IMOReferenceDebtorInstitution" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Globale COC_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="individualCOC_IMONumberDebtorInstitution" type="CC:EESSICRUniqueidentifierType">
					<xsd:annotation>
						
						<xsd:documentation xml:lang="de">
Nummer der einzelnen COC_IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (Krankenkasse)
      </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PAYIMOInformationCreditNoteType">
		<xsd:sequence>
			<xsd:element name="OriginalGlobalCRN_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						Ursprüngliche globale CRN_IMO-Referenz der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualCRN_IMOReferenceDebtorLiaisonBody" type="CC:EESSICRUniqueidentifierType">
				<xsd:annotation>
					
					<xsd:documentation xml:lang="de">
	Nummer der einzelnen CRN_IMO der Verbindungsstelle des leistungspflichtigen Mitgliedstaats (DVKA)
		  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
